root {
  --primary: #ffff00;
  --secondary: #1150bd;
  --dark: #00283C;
  --light: #eee
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light)
}

.App {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
